<!DOCTYPE html>
<html>

<body>
  <header>
    <div class="row">
      <div class="col-2 logo-container mt-2">
        <div class="flex-column">
          <img [src]="logoPath" />
          <span>NỀN TẢNG TUYỂN DỤNG SỐ HÀNG ĐẦU</span>
        </div>
      </div>
      <div class="col-7 nav-header">
        <ul class="nav">
          <li class="nav-item"><a href="#">Việc làm</a></li>
          <li class="nav-item"><a href="#">Việc của tôi</a></li>
          <li class="nav-item"><a href="#">Hồ sơ & CV</a></li>
          <li class="nav-item"><a href="#">Công ty</a></li>
          <li class="nav-item"><a href="#">Blog tuyển dụng</a></li>
        </ul>
      </div>
      <div class="col-3 nav-button">
        <button type="button" class="btn btn-light">Nhà tuyển dụng</button>
        <button type="button" class="btn btn-warning pl-1">Đăng nhập</button>
      </div>
    </div>
  </header>

  <section class="filter-by-keyword">

  </section>

  <section class="content">

  </section>

  <footer>

  </footer>
</body>

</html>
<router-outlet></router-outlet>