$backgroundDefault :rgba(248, 216, 159, 1);

body {
    margin: 0;
    font-family: 'SVN-Gilroy', sans-serif;
}

.work {
    color: #302A7E;
}

.office {
    color: #F9A11B;
}

header {
    width: 100%;
    color: #000;

    .row {
        height: 65px;
    }

    .nav-item {
        width: 130px;

        a {
            color: #000 !important;
            text-decoration: none !important;
            font-weight: 600;
        }
    }

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav-button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .btn-employer {
        border: 1px solid #FFA400;
        color: #FFA400;
    }

    .logo-container {
        img {
            width: 70px;
            height: 40px;
            object-fit: cover;
        }

        span {
            font-family: Inter;
            font-size: 8px;
            font-weight: 700;
            line-height: 7.68px;
            text-align: left;
            color: rgba(255, 164, 0, 1);
        }
    }
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.filter-by-keyword {
    width: 100%;
    height: 340px;
    background-color: $backgroundDefault;
    color: #000;

    .container-filter {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 150px;

        .text {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .input-search {
        .form {

            position: relative;
        }

        .form i {
            position: absolute;
            top: 14px;
            left: 20px;
            color: #9ca3af;
        }

        .form span {
            position: absolute;
            right: 17px;
            top: 13px;
            padding: 2px;
            border-left: 1px solid #d1d5db;

        }

        .form-input {

            height: 55px;
            text-indent: 33px;
            border-radius: 10px;
        }

        .form-input:focus {

            box-shadow: none;
            border: none;
        }
    }

    .keyword-suggest {
        color: #270089;

        button {
            color: #270089;
            font-weight: 500;
        }
    }
}

.content {
    background-color: #fff;
    width: 100%;
}

.font-color-default {
    color: #FFA400;
}

.font-job {
    color: #270089;
}

.bold-600 {
    font-weight: 600 !important;
}

footer {
    background-color: $backgroundDefault;

    .logo-container {
        img {
            width: 200px;
            object-fit: cover;
        }

        .text {
            font-family: Inter;
            font-size: 14px;
            font-weight: 700;
            line-height: 7.68px;
            text-align: left;
            color: rgba(255, 164, 0, 1);
        }
    }

    .contact {
        // margin-top: 50px;
        //text-align: left;
        font-weight: 600;
        margin-left: 50px;

        div {
            margin-top: 10px;
        }
    }

    .about {
        margin-top: 10px;
        text-align: left;
        font-weight: 600;

        div {
            margin-top: 10px;
        }
    }
}

img {
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
    border-radius: 1rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    .card-header {
        border-bottom: none;
        background-color: unset;
    }

    .title {
        color: #270089;
    }

    .company-name {
        font-size: 13px;
        color: #270089;
    }

    .range-salary {
        color: #FFA400;
    }

    .company-name {
        font-size: 13px;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem 0 0 1rem;

        img {
            object-fit: contain;
        }
    }

    .rounded-pill {
        text-align: center;
        background-color: #FFDDE2;
        padding-bottom: 3px;
        width: 50px;
    }

    .hot {
        color: #E3223C;
        font-size: 13px;
        font-weight: 600;
    }
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(191, 137, 20, 0.48) !important;
}


.btn-login,
.btn-login:hover,
.btn-login:active {
    color: #fff;
    background-color: #FFA400;
}

.btn-employer,
.btn-employer:hover,
.btn-employer:active {
    color: #FFA400;
    background-color: #fff;
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {}

/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {}

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
    .hidden {
        display: block;
    }
}

/* Màn hình desktop(1024 x 1280) */
@media screen and (min-width: 1280px) {}