$backgroundDefault :rgba(248, 216, 159, 1);

.work {
    color: #302A7E;
}

.office {
    color: #F9A11B;
}


.component {
    background: linear-gradient(270deg, #F8D89F 10.12%, #FDC35B 52.68%, #FEB32C 100%);
    // border: 1px solid #FFA400;
    padding-top: 1px;

    .title,
    .text {
        color: #270089;
        font-weight: 600 !important;
    }

    .job-card {
        background: linear-gradient(338deg, #F8D89F 10.12%, #FDC35B 52.68%, #FEB32C 100%);
        backdrop-filter: blur(10px);
    }
}

.font-color-default {
    color: #FFA400;
}

.font-job {
    color: #270089;
}

.bold-600 {
    font-weight: 600 !important;
}

footer {
    background-color: $backgroundDefault;

    .logo-container {
        img {
            width: 200px;
            object-fit: cover;
        }

        .text {
            font-family: Inter;
            font-size: 14px;
            font-weight: 700;
            line-height: 7.68px;
            text-align: left;
            color: rgba(255, 164, 0, 1);
        }
    }

    .contact {
        // margin-top: 50px;
        //text-align: left;
        font-weight: 600;
        margin-left: 50px;

        div {
            margin-top: 10px;
        }
    }

    .about {
        margin-top: 10px;
        text-align: left;
        font-weight: 600;

        div {
            margin-top: 10px;
        }
    }
}

img {
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
    border-radius: 1rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    .card-header {
        border-bottom: none;
        background-color: unset;
    }

    .title {
        color: #270089;
    }

    .company-name {
        font-size: 13px;
        color: #270089;
    }

    .range-salary {
        color: #FFA400;
    }

    .company-name {
        font-size: 13px;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem 0 0 1rem;

        img {
            object-fit: contain;
        }
    }

    .rounded-pill {
        text-align: center;
        background-color: #FFDDE2;
        padding-bottom: 3px;
        width: 50px;
    }

    .hot {
        color: #E3223C;
        font-size: 13px;
        font-weight: 600;
    }
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(191, 137, 20, 0.48) !important;
}